<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.mapper.AddressMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO t_address (
            uid, name, province_name, province_code, city_name, city_code, area_name, area_code, zip,
            address, phone, tel,tag, is_default, created_user, created_time, modified_user, modified_time
        ) VALUES (
            #{uid}, #{name}, #{provinceName}, #{provinceCode}, #{cityName}, #{cityCode}, #{areaName},
            #{areaCode}, #{zip}, #{address}, #{phone}, #{tel}, #{tag}, #{isDefault}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>
    
    <update id="updateNoDefault">
        update t_address
        set is_default = 0
        where uid = #{uid};
    </update>
    
    <update id="updateDefaultByAid">
        update t_address
        set is_default = 1,modified_time = #{modifiedTime}, modified_user = #{modifiedUser}
        where aid = #{aid};
    </update>

    <delete id="deleteAddressByAid">
        delete
        from t_address
        where aid =#{aid};
    </delete>

    <select id="getCountByUid" resultType="integer">
        select count(*)
        from t_address a
        where a.uid = #{uid};
    </select>
    
    <select id="findAddressByUid" resultType="Address">
        select *
        from store.t_address a
        where a.uid = #{uid}
        order by a.is_default desc, a.created_time desc;
    </select>
    
    <select id="findAddressByAid" resultType="Address">
        select *
        from t_address a
        where a.aid = #{aid};
    </select>

    <select id="findLastModifiedByUid" resultType="Address">
        select *
        from t_address a
        where a.uid = #{uid}
        order by modified_time desc
        limit 0,1;
    </select>
    <select id="findByAid" resultType="Address">
        select *
        from store.t_address
        where t_address.aid = #{aid};
    </select>

</mapper>